---
import { Button } from './ui/button'
---

<section
	class='bg-[url(/images/refit.jpg)] grid place-content-center before:inset-0 relative before:absolute before:bg-black/40 bg-no-repeat bg-cover bg-center mx-auto h-full'
>
	<div class='container z-10 text-center relative text-white'>
		<h1 class='text-7xl max-w-2xl font-semibold mb-5'>Comming Soon</h1>
		<p class='mb-11 font-medium'>
			We're working hard to bring you something amazing. Stay tuned!
		</p>
		<div>
			<Button
				class='font-bold text-lg'
				as='a'
				href='/'
				size='lg'
			>Go to Home</Button
			>
		</div>
	</div>
</section>
