---
import { Button } from './ui/button'
---

<section class='bg-[#F5F7FA]'>
	<div class='container py-20'>
		<h2 class='text-4xl font-semibold text-center capitalize mb-7'>
			Just for you
		</h2>

		<ul class='flex mb-12 font-medium gap-10 justify-between px-20'>
			<li><Button variant='outline' size='lg'>All</Button></li>
			<li><Button size='lg'>Tanks</Button></li>
			<li><Button size='lg'>T-Shirts</Button></li>
			<li><Button size='lg'>Polo Shirts</Button></li>
			<li><Button size='lg'>Casual Shirts</Button></li>
			<li><Button size='lg'>Bandana</Button></li>
			<li><Button size='lg'>Men Belts</Button></li>
		</ul>

		<ul
			class='grid grid-cols-[repeat(4,300px)] justify-between gap-y-14 text-xl font-semibold'
		>
			<li>
				<img class='h-[269px] bg-red-500 mb-7' src='' alt='' />
				<h3 class='text-center mb-2'>Gym Tank-Top</h3>
				<div class='flex mb-2 gap-2 items-center justify-center'>
					<p class='text-2xl line-through'>$5.00</p>
					<p class='text-3xl text-primary'>$5.00</p>
				</div>
				<p class='text-center'>rating</p>
			</li>
			<li>
				<img class='w-[300px] h-[269px] bg-red-500 mb-7' src='' alt='' />
				<h3 class='text-center mb-2'>Gym Tank-Top</h3>
				<div class='flex mb-2 gap-2 items-center justify-center'>
					<p class='text-2xl line-through'>$5.00</p>
					<p class='text-3xl text-primary'>$5.00</p>
				</div>
				<p class='text-center'>rating</p>
			</li>
			<li>
				<img class='w-[300px] h-[269px] bg-red-500 mb-7' src='' alt='' />
				<h3 class='text-center mb-2'>Gym Tank-Top</h3>
				<div class='flex mb-2 gap-2 items-center justify-center'>
					<p class='text-2xl line-through'>$5.00</p>
					<p class='text-3xl text-primary'>$5.00</p>
				</div>
				<p class='text-center'>rating</p>
			</li>
			<li>
				<img class='w-[300px] h-[269px] bg-red-500 mb-7' src='' alt='' />
				<h3 class='text-center mb-2'>Gym Tank-Top</h3>
				<div class='flex mb-2 gap-2 items-center justify-center'>
					<p class='text-2xl line-through'>$5.00</p>
					<p class='text-3xl text-primary'>$5.00</p>
				</div>
				<p class='text-center'>rating</p>
			</li>
			<li>
				<img class='w-[300px] h-[269px] bg-red-500 mb-7' src='' alt='' />
				<h3 class='text-center mb-2'>Gym Tank-Top</h3>
				<div class='flex mb-2 gap-2 items-center justify-center'>
					<p class='text-2xl line-through'>$5.00</p>
					<p class='text-3xl text-primary'>$5.00</p>
				</div>
				<p class='text-center'>rating</p>
			</li>
			<li>
				<img class='w-[300px] h-[269px] bg-red-500 mb-7' src='' alt='' />
				<h3 class='text-center mb-2'>Gym Tank-Top</h3>
				<div class='flex mb-2 gap-2 items-center justify-center'>
					<p class='text-2xl line-through'>$5.00</p>
					<p class='text-3xl text-primary'>$5.00</p>
				</div>
				<p class='text-center'>rating</p>
			</li>
			<li>
				<img class='w-[300px] h-[269px] bg-red-500 mb-7' src='' alt='' />
				<h3 class='text-center mb-2'>Gym Tank-Top</h3>
				<div class='flex mb-2 gap-2 items-center justify-center'>
					<p class='text-2xl line-through'>$5.00</p>
					<p class='text-3xl text-primary'>$5.00</p>
				</div>
				<p class='text-center'>rating</p>
			</li>
			<li>
				<img class='w-[300px] h-[269px] bg-red-500 mb-7' src='' alt='' />
				<h3 class='text-center mb-2'>Gym Tank-Top</h3>
				<div class='flex mb-2 gap-2 items-center justify-center'>
					<p class='text-2xl line-through'>$5.00</p>
					<p class='text-3xl text-primary'>$5.00</p>
				</div>
				<p class='text-center'>rating</p>
			</li>
		</ul>
	</div>
</section>
